@{
    ViewData["Title"] = "Home Page - SMS";
}

<div class="text-center">
    <h1 class="display-4">Welcome Tarun, this is Kalyan </h1>
    <p>Here is the the dotnet web application build via jenkins pipeline</a>.</p>
</div>
